<div class="box card--domain is-inline-block">
    <div class="content">
        <strong>{{ include.domain.name }}</strong> <br />
        <div class="card__url--domain">
            <a href="http://{{ include.domain.url }}">{{ include.domain.url }}</a>
        </div>
        <div class="tags">
            {% for tag in include.domain.tags %}
            <div class="tag">{{ tag }}</div>
            {% endfor %}
            {% if include.domain.buy %}
            <div class="tag is-danger">Sale</div>
            {% endif %}
        </div>
    </div>
</div>