<section class="section is-medium">
  <div class="container">
    <div class="has-text-centered section__title">
      <h1 class="title">Our Past Works</h1>
    </div>
    <div class="content has-text-centered">
      <p>Take a look at some of the work we did in the past, done with seriousness and motivation. Do <a href="mailto://{{ site.email }}" onclick="onContactClick()">drop us a mail</a> what you think of them 😃 </p>
      <br><br>
      <a href="/our-works.html" class="button is-primary is-large">View Our Past Works</a>
    </div>
  </div>
</section>