---

--- 
@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

// Set your brand colors
$blue: #285495;
$orange: #FF751A;
$green: #13D8B1;
$lightgrey: #FCFCFC;

// Update Bulma's global variables
$family-sans-serif: "Source Sans Pro", sans-serif;
$grey-dark: $blue;
$grey-darker: $blue;
$grey-light: $lightgrey;
$grey-lighter: $lightgrey;
$primary: $blue;
$link: $orange;
$link-invert: $green;
$text: $blue;
$text-light: $lightgrey;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $lightgrey;

// Import only what you need from Bulma
@import "bulma/utilities/_all.sass";
@import "bulma/base/_all.sass";

// Elements
@import "bulma/elements/box.sass";
@import "bulma/elements/button.sass";
@import "bulma/elements/container.sass";
@import "bulma/elements/content.sass";
@import "bulma/elements/icon.sass";
@import "bulma/elements/image.sass";
@import "bulma/elements/other.sass";
@import "bulma/elements/tag.sass";
@import "bulma/elements/title.sass";

// Components
@import "bulma/components/card.sass";
@import "bulma/components/message.sass";
@import "bulma/components/navbar.sass";

@import "bulma/grid/columns.sass";
@import "bulma/layout/_all.sass";

.navbar__brand {
    width: 9rem;
    height: 2rem;
}

.card--author {
    transition: box-shadow .3s;
    margin: $gap/4;

    &:hover {
        box-shadow: 0 0.5rem 1.5rem rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1); 
    }
}

.card--app {
    transition: box-shadow .3s;

    &:hover {
        box-shadow: 0 0.5rem 1.5rem rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1); 
    }
}

.card--design {
    transition: box-shadow .3s;

    &:hover {
        box-shadow: 0 0.5rem 1.5rem rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1); 
    }
}

.card--domain {
    transition: box-shadow .3s;
    margin: 0 $gap/4 0 0;

    &:hover {
        box-shadow: 0 0.5rem 1.5rem rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1); 
    }
}

.card--skill {
    transition: box-shadow .3s;
    padding: 0.75*$gap;
    border-radius: 0.2rem;
    white-space: nowrap;

    &:hover {
        box-shadow: 0 0.5rem 1.5rem rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1); 
    }
}

.card__image--author {
    margin: 1.5rem 0 0 0;
}

.card__image--app {
    margin: 1.5rem 0 0 0;
}

.card__caption--design {
    padding: 1rem 0;
}

.card__social {
    padding: 1rem 0 0 0;
    justify-content: space-evenly;
}

.card__url--domain {
    margin: 0 0 0.5rem 0;
}

.catologue--domain {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.message--domain {
    margin: 2rem 0 0 0;
}

.item__icon--skill {
    margin: 0 0 1.5rem 0;
}

.section__title {
    margin: 0 0 3rem 0;
}