<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="en">

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132863095-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
  
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', '{{ site.google-analytics-id }}');
    </script>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.email }}">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/assets/css/styles.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="assets/images/favicon.png">

  {% seo %}

</head>

<body>
  {% include navigation.html %}

  {{ content }}

  {% include footer.html %}

  <!-- JS  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="/assets/js/main.js"></script>
  <script>
    echo.init({
      offset: 100,
      throttle: 250,
      unload: false,
      debounce: false
    });

    function onContactClick() {
      gtag('event', 'click', {
        'event_category': 'contact',
        'event_label': 'mail',
        'event_value': 1
      });
    }
  </script>
</body>

</html>