<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.email }}">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/assets/css/styles.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="assets/images/favicon.png">

  {% seo %}

</head>

<body>
  {% include navigation.html %}

  {{ content }}

  {% include footer.html %}

  <!-- JS  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="/assets/js/main.js"></script>
  <script>
    echo.init({
      offset: 100,
      throttle: 250,
      unload: false,
      debounce: false
    });
  </script>
</body>

</html>